<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Review">
    <insert id="reviewSave" parameterType="review" useGeneratedKeys="true" keyProperty="review_id">
        insert into review_table (user_id,product_id,seller_id,rating,review_image,storedFileName,content)
            values (#{user_id},#{product_id},#{seller_id},#{rating},#{review_image},#{storedFileName},#{content})
    </insert>

    <select id="productReviewAll" parameterType="Long" resultType="review">
        select * from review_table where product_id = #{product_id} order by review_id desc
    </select>

    <select id="findProductReviewCount" parameterType="Long" resultType="Integer">
        select count(product_id) from review_table where product_id = #{product_id}
    </select>
</mapper>